---
import Footer from "../components/astro-components/Footer.astro";
import Head from "../components/astro-components/Head.astro";
import Navbar from "../components/astro-components/Navbar.astro";
const allPosts = await Astro.glob('../blog/*.md');

console.log(allPosts);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<Head/>
	</head>	
	<body class="bg-zinc-900 ">
	    <Navbar/>
	    <div class="  h-screen w-fill mx-[24px] md:md-[100px] lg:mx-[300px] bg-zinc-800 justify-center items-center my-20">
	        <div class="flex flex-col items-start">
	        <p class="px-[20px] p-6 text-6xl font-bold font-syne text-white">Blog</p>
		
	    

		{allPosts.map((post) => 
			<a href={`/portfolio/blog/${post.url}`}>
				<div
				  class="w-fill h-fit px-[14px] my-4 mx-8 flex flex-col border-t-[1px] border-b-[1px]"
				>
				  <p
					class="text-white text-xl lg:text-4xl font-bold lg:px-5 pb-0 pt-3 text-justify font-syne"
				  >
					{post.frontmatter.title}
				  </p>
				  <p class="text-white text-lg px-5 text-justify my-5 font-ibm-plex-sans">
					{post.frontmatter.date}
				  </p>
			  
				  <div class="flex flex-col lg:flex-row ml-4 gap-y-2 lg:gap-x-2">

					{post.frontmatter.categories.map((category: String) => (
	  					<div class="rounded-md bg-white w-fit px-4 py-1">
	    					<p class="text-black font-ibm-plex-mono text-lg text-justify">
	    	  					{category}
	    					</p>
	  					</div>
					))}
				  </div>  
				  <p class="text-white text-lg px-5 pb-5 pt-5 text-justify font-ibm-plex-sans">
					{post.frontmatter.description}
				  </p>
				</div>
			</a>
		  )}
		</div>


		<Footer/>
	</body>
</html>
